In [1]:
import pandas as pd

In [4]:
unemp = pd.read_csv("Unemployment Data.csv")

# Compare Unemployment Rates from 2010-2019

# Replace NaN values with '-' to make it look prettier.

In [184]:
unemp = unemp.fillna('-')

# Appropriately name column 1

In [19]:
unemp = unemp.rename(columns={'Unnamed: 0':'Year'})

# Transpose the columns and rows for easier viewing

In [44]:
unemp = unemp.T

In [183]:
unemp

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
Year,-,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Advanced Economies,-,5.80058,6.72869,7.51106,7.93618,7.7159,7.26426,7.23372,6.94278,6.57528,...,8.39486,8.10169,8.21673,8.17679,7.55235,6.95794,6.47735,5.86999,5.33591,-
Argentina,-,-,-,-,-,-,-,-,-,-,...,7.74579,7.15389,7.21476,7.07647,7.27087,6.61139,8.46795,8.3447,9.23277,-
Australia,-,6.9433,9.61414,10.7501,10.8662,9.7057,8.47106,8.51642,8.36372,7.65138,...,5.18264,5.08469,5.22371,5.67107,6.08793,6.05649,5.70941,5.57145,5.30086,5.16357
Austria,-,5.373,5.8231,5.94171,6.81138,6.54548,6.58977,7.03385,7.10328,7.1848,...,6.92478,6.72485,6.98126,7.61586,8.36692,9.10335,9.06136,8.51025,7.70369,7.37477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,-,5.61667,6.85,7.49167,6.90833,6.1,5.59167,5.40833,4.94167,4.5,...,9.60833,8.93333,8.075,7.35833,6.15833,5.275,4.875,4.35,3.89167,3.7375
"Venezuela, RB",-,-,-,-,-,-,-,-,-,-,...,8.51454,8.18636,7.80591,7.52515,6.93378,6.83285,-,-,-,-
Vietnam,-,-,-,-,-,-,-,-,-,-,...,2.88,2.22,1.96,2.18,2.1,2.33,2.3,2.24,2.19,-
World (WBG members),-,-,-,-,-,-,-,-,-,-,...,7.38128,7.20179,6.86214,6.79024,6.88231,6.61151,6.50839,6.57145,6.23966,-
South Africa,-,-,-,-,-,-,-,-,-,-,...,24.8406,24.7886,24.881,24.7339,25.1047,25.3393,26.7056,27.4221,27.1129,-

In [80]:
years = unemp.iloc[0:85, 21:31]

# Comparing the first 5 countries unemployment rates to the rates of Advanced Economies

In [105]:
years.head(7)

,21,22,23,24,25,26,27,28,29,30
Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Advanced Economies,8.39486,8.10169,8.21673,8.17679,7.55235,6.95794,6.47735,5.86999,5.33591,-
Argentina,7.74579,7.15389,7.21476,7.07647,7.27087,6.61139,8.46795,8.3447,9.23277,-
Australia,5.18264,5.08469,5.22371,5.67107,6.08793,6.05649,5.70941,5.57145,5.30086,5.16357
Austria,6.92478,6.72485,6.98126,7.61586,8.36692,9.10335,9.06136,8.51025,7.70369,7.37477
Belgium,8.30999,7.15803,7.56831,8.45583,8.53881,8.50745,7.86065,7.09663,5.95912,-
Bulgaria,9.47417,9.595,11.0892,11.3108,11.16,10.0608,8.68583,7.19833,6.17333,5.6225

# Divide and compare 2-year school tuitions and 4-year school tuitions.

In [146]:
tuition = pd.read_csv('Tuition fee by state.csv', index_col = 0, header=2)

In [154]:
tuition.index.names= [None]

In [160]:
tuition.fillna(' ')

,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,...,2010-11.1,2011-12.1,2012-13.1,2013-14.1,2014-15.1,2015-16.1,2016-17.1,2017-18.1,1-Year % Change.1,5-Year % Change.1
Alaska,,,,,,,,,,,...,"$5,907","$5,910","$6,181","$6,167","$6,307","$6,876","$7,250","$7,438",3%,20%
Alabama,"$3,526","$3,420","$3,351","$3,301","$3,155","$3,227","$3,837","$4,345","$4,368","$4,350",...,"$8,279","$8,669","$9,332","$9,599","$9,740","$9,996","$10,256","$10,530",3%,13%
Arkansas,"$2,422","$2,480","$2,520","$2,513","$2,555","$2,703","$2,835","$2,885","$2,985","$3,150",...,"$7,078","$7,210","$7,474","$7,599","$7,802","$8,085","$8,396","$8,553",2%,14%
Arizona,"$1,800","$1,907","$1,997","$1,981","$2,026","$2,180","$2,222","$2,331","$2,355","$2,445",...,"$9,067","$10,223","$10,394","$10,561","$10,681","$10,907","$11,119","$11,218",1%,8%
California,"$1,044","$1,015",$871,$744,$706,$929,$920,"$1,212","$1,516","$1,493",...,"$8,404","$9,679","$9,601","$9,512","$9,423","$9,505","$9,462","$9,680",2%,1%
Colorado,"$2,867","$2,992","$2,858","$2,890","$2,838","$3,146","$3,505","$3,677","$3,822","$3,924",...,"$7,947","$8,529","$9,019","$9,532","$9,538","$9,999","$10,464","$10,797",3%,20%
Connecticut,"$3,110","$3,177","$3,214","$3,323","$3,321","$3,637","$3,827","$3,781","$3,844","$3,967",...,"$10,080","$9,987","$10,295","$10,722","$10,938","$11,461","$11,983","$12,392",3%,20%
District of Columbia,,,,,,,,,,,...,"$7,860","$7,584","$7,740","$7,603","$7,539","$7,612","$7,979","$8,060",1%,4%
Delaware,"$3,242","$3,357","$3,437","$3,521","$3,622","$3,885","$4,013","$4,136","$4,114","$4,244",...,"$10,805","$11,310","$11,655","$11,798","$11,811","$11,976","$12,134","$12,267",1%,5%
Florida,"$2,301","$2,404","$2,443","$2,387","$2,551","$2,902","$3,114","$3,234","$3,303","$3,292",...,"$5,652","$6,094","$6,662","$6,617","$6,508","$6,524","$6,464","$6,363",-2%,-4%
Georgia,"$2,682","$2,766","$2,690","$2,491","$2,341","$2,951","$3,144","$3,386","$3,542","$3,591",...,"$6,593","$7,907","$8,055","$8,198","$8,270","$8,664","$8,560","$8,573",0%,6%
Hawaii,"$1,884","$1,910","$2,083","$2,287","$2,439","$2,777","$3,043","$3,213","$3,309","$3,408",...,"$8,374","$9,067","$9,203","$9,508","$9,962","$10,436","$10,834","$10,658",-2%,16%
Iowa,"$3,774","$3,871","$3,852","$3,914","$3,908","$4,207","$4,392","$4,454","$4,542","$4,598",...,"$8,034","$8,193","$8,367","$8,213","$8,071","$8,080","$8,412","$8,759",4%,5%
Idaho,"$2,324","$2,350","$2,380","$2,458","$2,484","$2,749","$2,868","$3,024","$3,327","$3,874",...,"$5,985","$6,156","$6,399","$6,628","$6,780","$6,994","$7,134","$7,250",2%,13%
Illinois,"$2,572","$2,690","$2,768","$2,867","$2,890","$3,102","$3,380","$3,415","$3,471","$3,556",...,"$12,316","$12,601","$13,001","$13,183","$13,142","$13,362","$13,671","$13,621",0%,5%
Indiana,"$3,340","$3,417","$3,467","$3,529","$3,491","$3,727","$3,864","$3,833","$3,911","$3,991",...,"$8,969","$9,040","$9,312","$9,353","$9,281","$9,354","$9,404","$9,361",0%,1%
Kansas,"$2,284","$2,315","$2,270","$2,266","$2,208","$2,411","$2,561","$2,559","$2,689","$2,665",...,"$7,441","$7,498","$7,778","$8,099","$8,483","$8,660","$9,060","$9,227",2%,19%
Kentucky,"$3,580","$3,768","$3,933","$4,054","$4,100","$4,273","$4,379","$4,389","$4,489","$4,529",...,"$8,442","$8,640","$9,041","$9,117","$9,460","$9,812","$10,142","$10,302",2%,14%
Louisiana,"$2,246","$2,306","$2,255","$2,250","$2,167","$2,329","$2,484","$2,927","$3,206","$3,543",...,"$5,314","$5,684","$6,277","$6,922","$7,525","$8,339","$9,087","$9,302",2%,48%
Massachusetts,"$4,344","$4,382","$4,305","$4,341","$4,368","$4,878","$5,158","$5,219","$5,464","$5,389",...,"$10,653","$11,014","$11,378","$11,263","$11,269","$11,913","$12,524","$12,732",2%,12%
Maryland,"$3,849","$3,875","$3,755","$3,822","$3,705","$3,858","$4,005","$4,018","$4,152","$4,183",...,"$8,687","$8,626","$8,772","$8,886","$8,920","$9,399","$9,519","$9,575",1%,9%
Maine,"$3,354","$3,523","$3,520","$3,667","$3,512","$3,678","$3,660","$3,607","$3,561","$3,561",...,"$10,044","$10,148","$10,004","$9,841","$9,806","$9,819","$9,854","$9,965",1%,0%
Michigan,"$2,578","$2,663","$2,684","$2,737","$2,732","$2,872","$3,025","$3,100","$3,250","$3,379",...,"$11,380","$11,746","$11,959","$12,156","$11,917","$12,302","$12,691","$12,935",2%,8%
Minnesota,"$4,905","$5,027","$5,129","$5,225","$5,077","$5,387","$5,546","$5,592","$5,737","$5,631",...,"$10,540","$10,854","$11,070","$10,966","$10,854","$11,110","$11,206","$11,302",1%,2%
Missouri,"$2,781","$2,855","$2,876","$2,944","$2,878","$2,933","$2,897","$2,964","$3,086","$3,129",...,"$8,164","$8,327","$8,489","$8,481","$8,625","$8,773","$8,776","$8,875",1%,5%
Mississippi,"$1,998","$2,090","$2,036","$2,008","$1,970","$2,109","$2,379","$2,389","$2,420","$2,507",...,"$5,944","$6,147","$6,581","$6,879","$7,047","$7,331","$7,609","$7,988",5%,21%
Montana,"$3,058","$3,094","$3,094","$3,255","$3,232","$3,385","$3,401","$3,309","$3,306","$3,321",...,"$6,301","$6,372","$6,576","$6,524","$6,463","$6,514","$6,542","$6,907",6%,5%
North Carolina,"$1,544","$1,560","$1,512","$1,576","$1,502","$1,819","$1,994","$2,243","$2,310","$2,361",...,"$5,977","$6,164","$6,625","$6,828","$6,856","$7,149","$7,323","$7,385",1%,11%
North Dakota,"$3,877","$4,059","$3,974","$4,060","$4,270","$4,408","$4,357","$4,254","$4,241","$4,302",...,"$7,376","$7,434","$7,486","$7,622","$7,720","$7,885","$8,025","$8,197",2%,10%
Nebraska,"$2,279","$2,338","$2,421","$2,532","$2,493","$2,608","$2,708","$2,699","$2,779","$2,804",...,"$7,411","$7,483","$7,676","$7,665","$7,537","$7,803","$8,030","$8,269",3%,8%
New Hampshire,"$6,049","$6,494","$6,296","$6,592","$6,240","$6,697","$7,041","$7,285","$7,197","$7,057",...,"$13,413","$14,629","$15,615","$15,353","$15,135","$15,549","$15,970","$16,073",1%,3%
New Jersey,"$3,621","$3,692","$3,835","$3,980","$3,951","$4,313","$4,404","$4,454","$4,445","$4,470",...,"$13,080","$13,034","$13,267","$13,332","$13,362","$13,648","$13,796","$13,868",1%,5%
New Mexico,"$1,344","$1,401","$1,326","$1,343","$1,275","$1,373","$1,488","$1,624","$1,702","$1,692",...,"$5,758","$5,889","$6,067","$6,246","$6,324","$6,570","$6,750","$6,921",3%,14%
Nevada,"$2,055","$2,058","$2,039","$2,072","$2,138","$2,298","$2,518","$2,723","$2,885","$2,829",...,"$5,971","$6,548","$6,827","$6,693","$6,603","$6,832","$7,029","$7,274",3%,7%
New York,"$4,229","$4,238","$4,162","$4,168","$4,065","$4,400","$4,447","$4,608","$4,758","$4,840",...,"$6,504","$6,722","$7,011","$7,258","$7,494","$7,842","$7,843","$7,940",1%,13%
Ohio,"$4,137","$4,236","$4,132","$4,131","$3,913","$3,973","$4,190","$4,283","$4,496","$4,583",...,"$10,168","$10,237","$10,437","$10,418","$10,363","$10,467","$10,485","$10,505",0%,1%
Oklahoma,"$2,722","$2,802","$2,774","$2,921","$2,997","$3,074","$3,180","$3,276","$3,380","$3,446",...,"$6,456","$6,578","$6,841","$6,898","$7,276","$7,641","$8,170","$8,460",4%,24%
Oregon,"$3,700","$3,716","$3,802","$3,786","$3,712","$4,105","$4,205","$4,357","$4,511","$4,641",...,"$8,347","$8,661","$8,881","$9,012","$9,179","$9,612","$9,907","$10,357",5%,17%
Pennsylvania,"$3,707","$3,823","$3,740","$3,800","$3,722","$3,919","$3,896","$4,255","$4,487","$4,663",...,"$12,723","$13,094","$13,224","$13,415","$13,495","$13,737","$14,184","$14,437",2%,9%
Puerto Rico,,,,,,,,,,,...,"$2,862","$2,831","$2,929","$2,004","$2,145","$2,165","$2,213","$2,167",-2%,-26%
Rhode Island,"$2,986","$3,094","$3,231","$3,345","$3,439","$3,837","$4,101","$3,983","$4,220","$4,139",...,"$10,464","$10,850","$11,669","$11,418","$11,259","$11,689","$11,620","$12,226",5%,5%
South Carolina,"$3,655","$3,684","$3,759","$3,802","$3,724","$3,957","$4,094","$4,027","$4,539","$4,706",...,"$11,299","$11,221","$11,479","$11,700","$11,765","$12,120","$12,417","$12,615",2%,10%
South Dakota,"$3,923","$4,004","$4,149","$4,226","$4,383","$4,904","$5,148","$5,356","$5,842","$5,806",...,"$7,094","$7,360","$7,894","$8,010","$7,911","$8,262","$8,301","$8,446",2%,7%
Tennessee,"$2,839","$2,994","$2,995","$3,093","$3,090","$3,377","$3,589","$3,849","$3,909","$3,943",...,"$7,323","$7,769","$8,201","$8,421","$9,170","$9,501","$9,701","$9,789",1%,19%
Texas,"$1,786","$1,840","$1,937","$1,938","$1,850","$1,985","$2,086","$2,210","$2,293","$2,310",...,"$8,695","$8,725","$8,915","$8,929","$9,079","$9,458","$9,700","$9,836",1%,10%
Utah,"$2,607","$2,700","$2,795","$2,872","$2,843","$3,080","$3,219","$3,269","$3,365","$3,471",...,"$5,520","$5,743","$5,996","$6,197","$6,330","$6,526","$6,673","$6,788",2%,13%
Virginia,"$2,690","$2,745","$2,853","$3,010","$3,183","$3,509","$4,025","$4,316","$4,479","$4,537",...,"$9,891","$10,331","$10,579","$10,863","$11,490","$12,122","$12,565","$12,820",2%,21%
Vermont,"$6,100","$6,251","$6,291","$6,463","$6,488","$6,900","$7,018","$7,064","$7,255","$7,430",...,"$14,006","$14,188","$14,451","$14,633","$14,874","$15,378","$15,830","$16,043",1%,11%
Washington,"$3,208","$3,298","$3,293","$3,383","$3,296","$3,584","$3,773","$4,132","$4,533","$4,512",...,"$9,204","$10,287","$11,320","$11,329","$10,978","$10,551","$9,430","$9,480",1%,-16%
Wisconsin,"$3,756","$3,924","$3,783","$3,843","$3,808","$3,986","$4,068","$4,149","$4,306","$4,379",...,"$8,658","$8,881","$9,285","$9,160","$9,011","$9,035","$9,087","$8,962",-1%,-3%
West Virginia,"$2,690","$2,633","$2,655","$2,756","$2,759","$2,992","$2,834","$2,933","$3,123","$3,435",...,"$5,868","$5,998","$6,288","$6,552","$6,870","$7,327","$7,620","$7,887",3%,25%
Wyoming,"$2,179","$2,217","$2,201","$2,259","$2,246","$2,460","$2,496","$2,521","$2,607","$2,730",...,"$4,409","$4,469","$4,571","$4,615","$4,773","$5,017","$5,142","$5,217",1%,14%

# Find null columns

In [165]:
tuition.isnull().sum()

2004-05               3
2005-06               3
2006-07               3
  2007-08             3
2008-09               3
2009-10               3
2010-11               3
2011-12               3
2012-13               3
2013-14               3
2014-15               3
2015-16               3
2016-17               3
2017-18               3
1-Year % Change       3
5-Year % Change       3
Unnamed: 17          52
2004-05.1             0
2005-06.1             0
2006-07.1             0
  2007-08 .1          0
2008-09.1             0
2009-10.1             0
2010-11.1             0
2011-12.1             0
2012-13.1             0
2013-14.1             0
2014-15.1             0
2015-16.1             0
2016-17.1             0
2017-18.1             0
1-Year % Change.1     0
5-Year % Change.1     0
dtype: int64

# Table divided by years of school

In [174]:
two_year = tuition.iloc[:, 1:16]

In [175]:
four_year = tuition.iloc[:, 18:]

In [180]:
two_year.head()

,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,1-Year % Change,5-Year % Change
Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alabama,"$3,420","$3,351","$3,301","$3,155","$3,227","$3,837","$4,345","$4,368","$4,350","$4,373","$4,425","$4,470","$4,487",0%,3%
Arkansas,"$2,480","$2,520","$2,513","$2,555","$2,703","$2,835","$2,885","$2,985","$3,150","$3,264","$3,490","$3,593","$3,645",1%,22%
Arizona,"$1,907","$1,997","$1,981","$2,026","$2,180","$2,222","$2,331","$2,355","$2,445","$2,497","$2,538","$2,603","$2,606",0%,11%
California,"$1,015",$871,$744,$706,$929,$920,"$1,212","$1,516","$1,493","$1,467","$1,459","$1,450","$1,430",-1%,-6%

In [181]:
four_year.head()

,2005-06.1,2006-07.1,2007-08 .1,2008-09.1,2009-10.1,2010-11.1,2011-12.1,2012-13.1,2013-14.1,2014-15.1,2015-16.1,2016-17.1,2017-18.1,1-Year % Change.1,5-Year % Change.1
Alaska,"$4,752","$5,045","$5,200","$5,206","$5,595","$5,907","$5,910","$6,181","$6,167","$6,307","$6,876","$7,250","$7,438",3%,20%
Alabama,"$5,991","$5,901","$6,163","$6,641","$7,374","$8,279","$8,669","$9,332","$9,599","$9,740","$9,996","$10,256","$10,530",3%,13%
Arkansas,"$6,239","$6,392","$6,580","$6,581","$6,797","$7,078","$7,210","$7,474","$7,599","$7,802","$8,085","$8,396","$8,553",2%,14%
Arizona,"$5,555","$5,622","$5,828","$6,214","$7,450","$9,067","$10,223","$10,394","$10,561","$10,681","$10,907","$11,119","$11,218",1%,8%
California,"$5,670","$5,472","$5,818","$6,049","$7,445","$8,404","$9,679","$9,601","$9,512","$9,423","$9,505","$9,462","$9,680",2%,1%

# Accidents Investigated by State Police in 2012

In [185]:
accident = pd.read_csv('2012_Vehicle_Collisions_Investigated_By_State_Police.csv')

# Break table down by police barrack. Using Bel Air in example.

In [197]:
bel_air = accident[(accident.BARRACK == 'Bel Air')]

# Find null values

In [198]:
bel_air.isnull().sum()

CASE_NUMBER             0
BARRACK                 0
ACC_DATE                0
ACC_TIME                0
ACC_TIME_CODE           0
DAY_OF_WEEK             0
ROAD                    0
INTERSECT_ROAD          0
DIST_FROM_INTERSECT     1
DIST_DIRECTION         26
CITY_NAME               3
COUNTY_CODE             0
COUNTY_NAME             0
VEHICLE_COUNT          52
PROP_DEST               0
INJURY                  0
COLLISION_WITH_1        0
COLLISION_WITH_2        0
dtype: int64

# remove the columns with null values

In [208]:
bel_air = bel_air.drop(columns=['DIST_FROM_INTERSECT','DIST_DIRECTION', 'VEHICLE_COUNT'])

# show comparison of vehicle accident injuries handled by the Bel Air State Police

In [212]:
bel_air['INJURY'].value_counts()

NO     827
YES    558
Name: INJURY, dtype: int64